.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.react-table, th, td {
  border: 1px 2px 1px solid;
  padding: 10px;
}

thead{
  background-color: white;
}
tbody{
  background-color: white;
  padding: 10px;
}

tr{
  padding: 10px;
  text-align: "center"; 
  margin: "2rem 2rem 1rem";
}

.header {
  padding: 5px;
  width: 600px;
}
.col-header{
  text-align: center;
  width: fit-content; 
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
